<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-android-volume" version="0.0.15" 
xmlns="http://apache.org/cordova/ns/plugins/1.0" 
xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Android Volume</name>
    <js-module name="AndroidVolume" src="www/AndroidVolume.js">
        <clobbers target="androidVolume" />
    </js-module>

    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="AndroidVolume">
                <param name="android-package"
                       value="com.jobbemaas.plugin.AndroidVolume" />
            </feature>
        </config-file>
        <source-file src="src/android/com/jobbemaas/plugin/AndroidVolume.java"
                     target-dir="src/com/jobbemaas/plugin" />
        <source-file src="src/android/com/jobbemaas/plugin/AndroidVolumeObserver.java"
                     target-dir="src/com/jobbemaas/plugin" />
    </platform>
</plugin>